*~
/.libs/
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/NEWS
/README
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libpiface-1.0.la
/libtool
/ltmain.sh
/missing
/piface-1.0.pc
/stamp-h1
