<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Pi Face Control - Raspberry Pi Web Interface</title>
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
</head>
<body>
    <h1>Pi Face Control</h1>
    {% if not piface_detected %}
    <p>Error: {{ piface_error_msg }}</p>
    {% else %}
    <!--<img src="{{ STATIC_URL }}images/pi.png" alt="A picture of the Pi Face board" />-->
    <canvas id="pifacecanvas" width=292 height=193></canvas>

    <h3>Outputs</h3>
    {% for i in button_range %}
    <input type=checkbox id=pifaceoutputcheckbox{{ i }}>Output {{ i }}</input><br />
    {% endfor %}

    {% endif %}

    {% if piface_detected %}
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.7.2.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via build script -->
    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <script src="{{ STATIC_URL }}js/piface.js"></script>
    <!-- end scripts -->
    {% endif %}
</body>
</html>
